<div class="m-5">
    <!--DETAIL-->
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <h1 class="st">{{itemDetail.name}}</h1>
            </div>
            <div class="d-flex justify-content-center">
                <img src="{{itemDetail.imgUrl}}" />
            </div>
        </div>
        <div class="col-6 my-5">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <span matLine>
                        <span class="h5">Line 1 : </span>
                    </span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span matLine>
                        <span class="h5">Line 2 : </span>
                    </span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span matLine>
                        <span class="h5">Line 3 : </span>
                    </span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span matLine>
                        <span class="h5">Line 4 : </span>
                    </span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span matLine>
                        <span class="h5">Line 5 : </span>
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <mat-list>
                        
                    </mat-list>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <!--COMMENT-->
    <div>
    
    </div>
</div>