<div class="m-5">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-content>
                    <chart [type]="type" [data] = "data"></chart>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <mat-card>
                <mat-card-content>
                    <chart [type]="type" [data] = "data"></chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-content>
                    <chart [type]="type" [data] = "data"></chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>