<div class="row p-5">
    <div class="col-6">
        <mat-card>
            <mat-card-content class="d-flex justify-content-center">
                {{t|number: '2.0-3'}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-6">
        <mat-card>
            <mat-card-content class="d-flex justify-content-center">
                {{h|number: '2.0-0'}}
            </mat-card-content>
        </mat-card>
    </div>
</div>
<chart [type]="chartType" [options]="chartOptions" [data]="forecastData" class="large"></chart>