<div class="mx-5 my-3">
    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column">
            <h1 class="w-100 st ft-xs text-center">{{getTimeString(time)}}</h1>
            <h1 class="w-100 st ft-xs text-center">{{locationData.city}}</h1>
            <div [ngSwitch]="weatherData.main" class="d-flex justify-content-center mb-5 mt-3">
                <i *ngSwitchCase="'Thunderstorm'">
                    <i class="fa-solid fa-cloud-bolt icon-xl"></i>
                </i>
                <i *ngSwitchCase="'Drizzle'">
                    <i class="fa-solid fa-cloud-showers-heavy icon-xl"></i>
                </i>
                <i *ngSwitchCase="'Rain'">
                    <i class="fa-solid fa-cloud-rain icon-xl"></i>
                </i>
                <i *ngSwitchCase="'Snow'">
                    <i class="fa-solid fa-snowflake icon-xl"></i>
                </i>
                <i *ngSwitchCase="'Atmosphere'">
                    <i class="fa-solid fa-wind icon-xl"></i>
                </i>
                <i *ngSwitchCase="'Clouds'">
                    <i class="fa-solid fa-cloud icon-xl"></i>
                </i>
                <i *ngSwitchDefault>
                    <i class="fa-solid fa-cloud-sun icon-xl"></i>
                </i>
            </div>
            <h1 class="w-100 st ft-xs text-center">{{weatherData.description}}</h1>
        </div>
        
    </div>
    <div class="row my-3">
        <div class="col-6">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center border-bottom">
                    <h3 class="st">Temperature</h3>
                </mat-card-header>
                <mat-card-content class="d-flex justify-content-center pt-3">
                    <h1 class="st text-danger">{{forecastData.data[0].temp|number: '2.0-3'}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center border-bottom">
                    <h3 class="st">Humidity</h3>
                </mat-card-header>
                <mat-card-content class="d-flex justify-content-center pt-3">
                    <h1 class="st text-info">{{forecastData.data[0].humid|number: '2.0-0'}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <mat-card>
                <mat-card-header class="border-bottom">
                    <h3 class="st">Forecast</h3>
                </mat-card-header>
                <mat-card-content class="pt-3 py-2">
                    <chart [type]="chartType" [options]="chartOptions" [data]="chartData" class="large"></chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <router-outlet ></router-outlet>
</div>

