<div class="container p-5">
    <div class="row">
        <div *ngFor="let n of notelist" class="col-4">
            <mat-card class="note" cdkDrag>
                <mat-card-header class="note-header">
                    
                </mat-card-header>
                <mat-card-content class="note-content">
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="bt"></div>
<!--<div class="m-5">
    <button mat-raised-button (click)="openNewDialog()">
        <i class="fa-solid fa-calendar-plus"></i>
    </button>
</div>-->