<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)] = "sidenavState">
    <div class = "m-5">
      <div class="d-flex justify-content-center mb-3">
        <i class="fa fa-cubes icon-large"></i>
      </div>
      <div class="d-flex justify-content-center">
        <h1>{{title}}</h1>
      </div>
    </div>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item class="justify-content-center" routerLink="/notelist">
        <i matListIcon class="fa-solid fa-book"></i>
        <h1 matLine class="menuItem">Notes</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/profile">
        <i matListIcon class="fa-solid fa-address-book"></i>
        <h1 matLine class="menuItem">Profile</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/stats">
        <i matListIcon class="fa-solid fa-chart-pie"></i>
        <h1 matLine class="menuItem">Stats</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/misc">
        <i matListIcon class="fa-solid fa-cloud-sun"></i>
        <h1 matLine class="menuItem">Misc.</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/item">
        <i matListIcon class="fa-solid fa-rectangle-list"></i>
        <h1 matLine class="menuItem">Item</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/history">
        <i matListIcon class="fa-solid fa-clock-rotate-left"></i>
        <h1 matLine class="menuItem">History</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/edit">
        <i matListIcon class="fa-solid fa-pen-to-square"></i>
        <h1 matLine class="menuItem">Edit</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--TOPBAR-->
    <mat-toolbar color="primary">
      <button mat-raised-button color="primary" (click)="sidenavState = !sidenavState">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-fab class="circular-normal ml-4" color="primary"  >
        <span matBadge = "5"><mat-icon class="icon-custom">notification_important</mat-icon></span>
      </button>
      <mat-menu #langMenu>
        <button mat-menu-item>English</button>
        <button mat-menu-item>Vietnamese</button>
        <button mat-menu-item>Japanese</button>
      </mat-menu>
      <span class="spacer"></span>
      <button color="primary" mat-raised-button [matMenuTriggerFor]="langMenu">Language</button>

    </mat-toolbar>
    <div *ngIf="loading$">
      <div [@routeAnimations]="getRouterAnimation(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
    
    <!--TOPBAR-->
  </mat-sidenav-content>
</mat-sidenav-container>
