<mat-drawer-container class="mat-typography" autosize>
  <mat-drawer #drawer mode="side" disableClose="true" opened="sidenavState" [@sidenav]="sidenavAnimationState">
    <mat-list>
    <div *ngIf="sidenavState;else closed" class="my-5">
      <mat-list-item class="d-flex justify-content-center" routerLink="/">
        <i class="fa fa-cubes icon-large"></i>
      </mat-list-item>
      <div *ngIf="sidenavState" class="d-flex justify-content-center">
        <h1 class="st">MY APP</h1>
      </div>
    </div>
    <ng-template #closed>
      <mat-list-item class = "d-flex justify-content-center my-5" routerLink="/">
        <i class="fa fa-cubes icon-normal"></i>
      </mat-list-item>
    </ng-template>
      <mat-divider></mat-divider>
      <mat-list-item class="justify-content-center" routerLink="/notelist">
        <i matListIcon class="fa-solid fa-book"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">Notes</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/misc">
        <i matListIcon class="fa-solid fa-cloud-sun"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">Misc.</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/item">
        <i matListIcon class="fa-solid fa-rectangle-list"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">Item</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/history">
        <i matListIcon class="fa-solid fa-clock-rotate-left"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">History</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/edit">
        <i matListIcon class="fa-solid fa-book"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">Edit</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/exam">
        <i matListIcon class="fa-solid fa-pen-to-square"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">Exam</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/test">
        <i matListIcon class="fa-solid fa-paperclip"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">Test</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/upload">
        <i matListIcon class="fa-solid fa-upload"></i>
        <h1 matLine class="menuItem" *ngIf="sidenavState">Test</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h1 matLine class="width-line" *ngIf="sidenavState"></h1>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-raised-button color="primary" (click)="sidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="mx-2" routerLink="/profile">
        <i class="fa-solid fa-address-book icon-custom"></i>
      </button>
      <button mat-mini-fab class="mx-2" color="primary" [matMenuTriggerFor]="notificationMenu">
        <span matBadge = "5" matBadgePosition="before"><i class="fa-solid fa-bell icon-custom"></i></span>
      </button>
      <mat-menu #langMenu>
        <button mat-menu-item>English</button>
        <button mat-menu-item>Vietnamese</button>
        <button mat-menu-item>Japanese</button>
      </mat-menu>
      <mat-menu #notificationMenu>
        
      </mat-menu>
      <span class="spacer"></span>
      <button color="primary" mat-raised-button [matMenuTriggerFor]="langMenu">Language</button>

    </mat-toolbar>
    <div *ngIf="loading$">
      <div [@routeAnimations]="getRouterAnimation(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

