mat-sidenav-container{
  height: 100%;
}

mat-sidenav{
  width: 25%;
  background-color: cornflowerblue;
}

.spacer {
  flex: 1 1 auto;
}

.icon-custom{
  transform: scale(1.3);
}

.icon-normal{
  transform: scale(2);
  padding: 0 10px 0 10px;
}

.icon-large{
  transform: scale(3);
  padding: 0 15px 0 15px;
}

.icon-xl{
  transform: scale(4);
  padding: 0 20px 0 20px;
}

.circular-small{
  transform: scale(0.6);
}

.circular-normal{
  transform: scale(0.8);
}


.mat-card{
  padding: 0px;
  border-radius: 20px;
}

.mat-card-header{
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #ccc;
  padding : 20px;
}

.mat-card-actions{
  padding : 20px !important;
}

.limiter{
  width: 80%;
  margin: 80px auto;
}

.full-width{
  width: 100%;
}

.half-width{
  width: 50%;
  display: flex;
}


.menuItem{
  font-size: 1.5em !important;
  cursor: pointer;  
}

::ng-deep .mat-card-header-text{
  margin: 0 !important; 
}