.spacer {
    flex: 1 1 auto;
}

.icon-custom{
    transform: scale(1.3);
}

.icon-normal{
    transform: scale(2);
    padding: 0 10px 0 10px;
}

.icon-large{
    transform: scale(3);
    padding: 0 15px 0 15px;
}

.icon-xl{
    transform: scale(4);
    padding: 0 20px 0 20px;
}

.circular-small{
    transform: scale(0.6);
}

.circular-normal{
    transform: scale(0.8);
}

.menuItem{
    font-size: 1.5em !important;
    cursor: pointer;  
}

::ng-deep .mat-card-header-text{
    margin: 0 !important; 
}

.st{
    font-family: Koulen, cursive;
}

.ft-xs{
    font-size: 30px;
    min-height: 40px;
}

.ft-bg{
    font-size: 20px;
    min-height: 25px;
}


.tx{
    text-align: center;
}

.te{
    text-align: end;
}

mat-sidenav-container{
    height: 100%;
}
  
mat-sidenav{
    width: 25%;
    background-color: cornflowerblue;
}
  
  