.fileContainer{
    width: 120px;
    height: 120px;
    background-color: aqua;
    display: flex;
    border-radius: 20px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}