<div class="cal-base" #base>
  <div class="cal-header pt-3 pr-3">
    <div class="control right" (click)="today()">
      <i class="fa-solid fa-arrows-to-dot icon-normal"></i>
    </div>
    <div class="control">
      <i class="fa-solid fa-angle-left icon-normal" (click)="previousmonth()"></i>
    </div>
    <div class="month control">{{headerTimeDisplay}}</div>
    <div class="control">
      <i class="fa-solid fa-angle-right icon-normal" (click)="nextmonth()"></i>
    </div>
  </div>
  <div class="cal-day">
    <div class="day" *ngFor="let i of shortWeekDayNames">
      <span>{{i}}</span>
    </div>
  </div>
  <div class="cal-body" [@blur]="state" (@blur.done)="state='iddle'">
    <div class="date" *ngFor="let i of calendarElementList" [ngSwitch]="isDisp(i)">
      <div *ngSwitchCase="1" class="disp today" (click)="select(i)">
        <div class="event"></div>
        {{i.data}}
      </div>
      <div *ngSwitchCase="0" class="disp highlight" (click)="select(i)">
        {{i.data}}
      </div>
      <div *ngSwitchCase="-1" class="disp blur" (click)="select(i)">
        {{i.data}}
      </div>
    </div>
  </div>
  <div class="cal-footer">
  </div>
</div>