<div class="m-5">
    <h1>Profile</h1>
    <mat-list>
        <h2 mat-subheader>Personal Info</h2>
        <mat-list-item>
            <i matListIcon class="fa fa-1"></i>
            <div matLine>
                <p>Firstname</p>
            </div>
            <div matLine>
                <p class="st ft-bg">{{profile.firstname}}</p>
            </div>
        </mat-list-item>
        <mat-list-item>
            <i matListIcon class="fa fa-2"></i>
            <div matLine>
                <p>Lastname</p>
            </div>
            <div matLine>
                <p class="st ft-bg">{{profile.lastname}}</p>
            </div>
        </mat-list-item>
        <h2 mat-subheader>Account Info</h2>
        <mat-list-item>
            <i matListIcon class="fa fa-1"></i>
            <div matLine>
                <p>Username</p>
            </div>
            <div matLine>
                <p class="st ft-bg">{{profile.username}}</p>
            </div>
        </mat-list-item>
        <mat-list-item>
            <i matListIcon class="fa fa-2"></i>
            <div matLine>
                <p>Email</p>
            </div>
            <div matLine>
                <p class="st ft-bg">{{profile.email}}</p>
            </div>
        </mat-list-item>
        <h3 mat-subheader>Basic stats</h3>
        
    </mat-list>
    
</div>