<div class="p-5" cdkDropListGroup>
    <div class="row" cdkDropList [cdkDropListData]="itemList" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of itemList" class="col-lg-3 col-xs-6 col-md-3 col-sm-6 p-2">
            <mat-card cdkDrag>
                <mat-card-header>
                    <p>{{item.name}}</p>
                </mat-card-header>
                <mat-card-content>
                    <img [src]="item.imgUrl"  class="w-100">
                </mat-card-content>
                <mat-card-actions class="item-actions">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" (click)="minus(item.name)">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </div>
                        <input class="form-control amount" value="{{item.count}}">
                        <div class="input-group-append">
                            <button class="btn btn-success" (click)="plus(item.name)">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    
    <div class="boundary-container my-2" cdkDropList [cdkDropListData]="purchaseList" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let p of purchaseList" class="boundary-item">
            <div class="item-col">
                {{p.name}}
            </div>
            <div class="item-col">
                {{p.price | currency: 'VND' : 'symbol-narrow' : '4.2-2'}}
            </div>
            <div>
                <button mat-fab (click)="deleteP(p)"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
    <div><p class="h4">{{total | currency:'VND' : 'symbol-narrow' : '4.'}}</p></div>
    
</div>