<div class="m-5">
    <div class="d-flex flex-column my-2 py-2 bordered">
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="mb-0 st">Search</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Search Keywords</mat-label>
                <mat-chip-list #chipList aria-label="Search Keywords" selectable multiple>
                    <mat-chip #chip="matChip"
                        *ngFor="let keyword of keywords"
                        [value]="keyword" (click)="toggleSelection(chip)">
                        {{keyword.word}}
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mt-3">
                <input placeholder="Search" matInput [formControl]="searchText">
            </mat-form-field>
            <div class="w-100 d-flex justify-content-end mb-3">
                <button mat-mini-fab color="" (click)="getKeyword()"><i class="fa-solid fa-arrow-rotate-right"></i></button>
                <button mat-raised-button (click)="clear(chipList)" class="mx-2">Clear</button>
                <button mat-raised-button color="accent" (click)="search(iList, chipList, paginator)">Search</button>
            </div>
        </mat-expansion-panel>
    </div>
    <div class="d-flex flex-row justify-content-end my-2 bordered-bottom" #iList>
        <mat-form-field appearance="fill">
            <mat-label>Sort by</mat-label>
            <mat-select [formControl]="sortOption" (selectionChange)="sortOptionChange(paginator)">
                <mat-option class="tx py-2" value="NAME_ASC">Name <i class="fa-solid fa-angles-up text-danger"></i></mat-option>
                <mat-option class="tx" value="PRICE_ASC">Price <i class="fa-solid fa-angles-up text-danger"></i></mat-option>
                <mat-option class="tx" value="NAME_DESC">Name <i class="fa-solid fa-angles-down text-success"></i></mat-option>
                <mat-option class="tx" value="PRICE_DESC" >Price <i class="fa-solid fa-angles-down text-success"></i></mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-paginator [length]="count"
                    [pageSize]="limit"
                    [pageSizeOptions]="[6, 12, 24, 100]"
                    (page)="pageChange($event)"
                    aria-label="Select page" #paginator>
    </mat-paginator>
    <div class="my-2" cdkDropListGroup>
        <div class="row" cdkDropList [cdkDropListData]="itemList" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of itemList" class="col-lg-3 col-xs-3 col-md-4 col-sm-6 p-2">
                <mat-card cdkDrag>
                    <mat-card-header>
                        <div class="d-flex flex-row w-100">
                            <div class="w-50">
                                <p class="st" (click)="openDetail(item.name)">{{item.name}}</p>
                            </div>
                            <div class="w-50">
                                <p class="st text-danger te">{{item.price|currency: 'VND':'symbol-narrow':'4.'}}</p>
                            </div>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="bordered py-2">
                            <img [src]="item.imgUrl" class="w-100" (click)="animateItem(item)" [@item]="item.animationState" (@item.done) = "resetAS(item)">
                    </mat-card-content>
                    <mat-card-actions class="item-actions">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" (click)="minus(item.name)">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                            <input class="form-control amount" value="{{item.count}}">
                            <div class="input-group-append">
                                <button class="btn btn-success" (click)="plus(item.name)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <mat-paginator [length]="count"
                    [pageSize]="limit"
                    [pageSizeOptions]="[6, 12, 24, 100]"
                    (page)="pageChange($event)"
                    aria-label="Select page" #paginator>
        </mat-paginator>
        <button (click)="openInfoDialog()" mat-fab class="floating-button" 
        cdkDropList [cdkDropListData]="purchaseList" (cdkDropListDropped)="drop($event)" [@jello] = "state" (@jello.done) = "state='added'">
            <span  matBadge="{{purchaseList.length}}" matBadgeColor="accent" [matBadgeHidden]="badge"></span><i class="fa-solid fa-cart-arrow-down"></i>
        </button>
    </div>
</div>
