<div class="m-5">
    <div class="d-flex flex-column my-2 py-2 bordered">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1 class="mb-0 st">Search</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <p class="mb-0 st">Filter items</p>
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Search Keywords</mat-label>
                <mat-chip-list #chipList aria-label="Search Keywords" selectable multiple [formControl]="selected">
                <mat-chip #chip="matChip"
                    *ngFor="let keyword of keywords"
                    [selected]="keyword"
                    [value]="keyword" (click)="toggleSelection(chip)">
                    {{keyword.word}}
                </mat-chip>
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mt-3">
                <input placeholder="Search" matInput>
            </mat-form-field>
            <div class="w-100 d-flex justify-content-end mb-3">
                <button mat-raised-button color="accent">Search</button>
            </div>
        </mat-expansion-panel>
        
    </div>
    <div class="my-2" cdkDropListGroup>
        <div class="row" cdkDropList [cdkDropListData]="itemList" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of itemList" class="col-lg-3 col-xs-6 col-md-3 col-sm-6 p-2">
                <mat-card cdkDrag>
                    <mat-card-header>
                        <p>{{item.name}}</p>
                    </mat-card-header>
                    <mat-card-content>
                        <img [src]="item.imgUrl" class="w-100">
                    </mat-card-content>
                    <mat-card-actions class="item-actions">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" (click)="minus(item.name)">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                            <input class="form-control amount" value="{{item.count}}">
                            <div class="input-group-append">
                                <button class="btn btn-success" (click)="plus(item.name)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <mat-paginator [length]="count"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="pageChange($event)"
                    aria-label="Select page">
        </mat-paginator>
        
        <div class="boundary-container my-2" cdkDropList [cdkDropListData]="purchaseList" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let p of purchaseList" class="boundary-item">
                <div class="item-col">
                    {{p.name}}
                </div>
                <div class="item-col">
                    {{p.price | currency: 'VND' : 'symbol-narrow' : '4.2-2'}}
                </div>
                <div>
                    <button mat-fab (click)="deleteP(p)"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        </div>
        <div><p class="h4">{{total | currency:'VND' : 'symbol-narrow' : '4.'}}</p></div>
    </div>
</div>
